
/* left side-bar header ********** */
.left-side-bar-header {
    width: 64px;
    padding: 0px 4px;
    position: fixed;
    top: 56px;
    bottom: 0px;
    left: 0;
    z-index: 10;

}

.side-bar {
    /* width: 64px; */
    height: 74px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;


}


.side-bar img {
    height: 24px;
    margin-bottom: 6px;
}

.side-bar div {
   font-size: 10px;
}


.side-bar:hover  {
    cursor: pointer;
    background-color: rgba(210, 209, 207, 0.4)
}   